

@model List<PatientApp.Models.PatientVM>
@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, null, null, 5, true, true, null, null, null, null, null, null, null);
}

<br />
<h2 align="center">Patient's Complete Appointment Detail</h2>
<br />

<form id="FormSearch" method="post">

    <div class="row" id="SearchBox">
        <input class="form-control mr-sm-2" type="text" placeholder="Patient Name" id="PatientName" name="PatientName" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </div>

</form>

<br />


@grid.GetHtml(
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",


    columns: new[]
{
    grid.Column("PatientName","Patient Name"),
    grid.Column("Age", "Age "),
    grid.Column("Gender", "Gender"),
    grid.Column("MaritalStatus","Marital Status"),
    grid.Column("Address","Address"),
    grid.Column(" MobileNumber","Mobile Number"),
    grid.Column("DoctorName","Doctor Name"),
    grid.Column("DateTime","Date Time"),
    grid.Column("BP","BP"),
    grid.Column("Weight","Weight"),
    grid.Column("Temperature","Temperature"),
}

 )

<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
